<!DOCTYPE html>
{{/* To update this template, run 'esc -o tlsdr/template.go template' */}}<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TLS Handshake Details</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <br/>
    <img src="http://i.imgur.com/ZUA9PRE.jpg" alt=""/>
    <br/>
    <br/>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Src Host</td>
        <td>Actor</td>
        <td>Dest Host</td>
        <td>Action</td>
        <td>Status</td>
        <td>Failed Reason</td>
      </tr>
    </thead>

    {{ range $index, $group := . }}
      {{ range $subIndex, $connection := $group }}
        {{ if eq $subIndex 0 }}
      <tbody data-toggle="collapse" data-target="#body_{{$index}}" class="clickable">
          {{ if eq $connection.Success true }}
              <tr class="success">
          {{ else }}
              <tr class="danger">
          {{ end }}
                <td>{{len $group}}</td>
                <td>{{$connection.SrcHost}}</td>
                <td>-</td>
                <td>{{$connection.DestHost}}</td>
                <td>-</td>
          {{ if eq $connection.Success true }}
                <td>✅</td>
          {{ else }}
                <td>❌</td>
          {{ end }}
                <td>{{$connection.FailedReason}}</td>
              </tr>
    </tbody>
      <tbody id="body_{{$index}}" class="collapse">
          {{ range $i, $event := $connection.EventsArray }}
              {{ if eq $event.Success true }}
              <tr class="info">
              {{ else }}
              <tr class="danger">
              {{ end }}
                <td></td>
                <td></td>
                {{ if eq $event.C2s true }}
                <td>&rarr;</td>
                {{ else }}
                <td>&larr;</td>
                {{ end }}
                <td></td>


                <td>{{ $event.EventType }}</td>

              {{ if eq $event.Success true }}
                <td>✅</td>
              {{ else }}
                <td>❌</td>
              {{ end }}

                <td></td>
              </tr>

          {{ end }}

          {{ if gt (len $connection.RecommendationsArray) 0 }}
              {{ range $ridx, $recommendation := $connection.RecommendationsArray }}
                <tr class="warning">
                  <td></td>
                  {{ if eq $ridx 0 }} <td>Recommendations:</td> {{ else }} <td></td> {{ end }}
                  <td colspan="5">{{$recommendation}}</td>
                </tr>
              {{ end }}
          {{ else }}
            <tr class="warning"><td colspan="7"></td></tr>
          {{ end }}

        {{ end }}
      {{ end }}
    {{ end }}
    </tbody>
  </table>

</div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

