<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TLS Handshake Details</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Src Host</td>
        <td>Dest Host</td>
        <td>Actor</td>
        <td>Action</td>
        <td>Status</td>
        <td>Failed Reason</td>
      </tr>
    </thead>

    <tbody>
    {{ range $index, $group := . }}
      {{ range $subIndex, $connection := $group }}
          {{ if eq $connection.Success true }}
              <tr class="success">
          {{ else }}
              <tr class="danger">
          {{ end }}
                <td>[Src Host]{{$connection.SrcHost}}</td>
                <td>[Dest Host]{{$connection.DestHost}}</td>
                <td>-</td>
                <td>-</td>
          {{ if eq $connection.Success true }}
                <td>Success</td>
          {{ else }}
                <td>Failure</td>
          {{ end }}
                <td>{{$connection.FailedReason}}</td>
              </tr>
          {{ range $i, $event := $connection.EventsArray }}

              {{ if eq $event.Success true }}
              <tr class="info">
              {{ else }}
              <tr class="danger">
              {{ end }}

                <td></td>
                <td></td>

              {{ if eq $event.C2s true }}
                <td>CLIENT</td>
              {{ else }}
                <td>SERVER</td>
              {{ end }}

                <td>{{ $event.EventType }}</td>

              {{ if eq $event.Success true }}
                <td>Success</td>
              {{ else }}
                <td>Failure</td>
              {{ end }}

                <td></td>
              </tr>

          {{ end }}
      {{ end }}
      <tr class="warning"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    {{ end }}
    </tbody>
  </table>

</div>

<p class="success">{{.}}</p>
</body>
</html>

